.modal__background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.371);
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.modal__container {
  padding: 1.5em;
  width: 100%;
  /* height: 500px; */
  border-radius: 6px 6px 0 0;
  box-shadow: rgba(138, 138, 138, 0.2) 0px -10px 10px;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  /* background-color: black; */
}

@media screen and (min-width: 678px) {
  .modal__container {
    /* max-width: 450px; */
    height: 100%;
    width: 300px;
    right: 0;
    border-left: 1px solid lightgray;
    border-radius: 0;
    /* box-shadow: rgba(8, 8, 8, 0.2) 50px 50px 0; */
  }
}

.modal__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.close__btn {
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.5em;
}

.client__info {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 0.4em;
  text-align: left;
}

.client__info > input {
  width: 100%;
  /* width: 45%; */
}

.client__names {
  /* display: flex; */
  /* max-width: 100%; */
  /* overflow-x: hidden; */
  /* width: 100%; */
}

client__names > input {
  width: 100%;
}

input {
  padding: 0.4em;
  padding-left: 1em;
  margin: 0;
  margin-bottom: 1em;
  border: none;
  /* outline: none; */
}

.modal__btns button {
  padding: 1em 1em;
  border: none;
}

.add__btn {
  background-color: rgb(64, 138, 248);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
}

.add__btn:hover {
  background-color: rgb(27, 118, 255);
}

.cancel__btn {
  background: none;
}

textarea {
  resize: none;
  padding-top: 1em;
  padding-left: 1em;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  background-color: #e6e6e6;
  border: none;
  margin-bottom: 2em;
}

textarea:focus {
  outline: 1px solid lightgray;
}
