.dashboard {
  /* margin: 1em; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 1.5em;
  border-bottom: 1px solid rgb(207, 207, 207);
  margin-bottom: 1em;
}

.btn__addClient {
  /* width: 115px; */
  height: 30px;
  background-color: rgb(64, 138, 248);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5em;
  font-weight: 600;
}
.addIcon {
  font-size: 8px;
  width: 5px;
}

.btn__addClient:hover {
  background-color: rgb(27, 118, 255);
}

a {
  color: black;
  text-decoration: none;
}

.client__item {
  /* margin: 0 1.5em; */
  list-style-type: none;
  margin-bottom: 0.6em;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* width: 100vw; */
}

.client__itemneil_davids {
  display: flex;
  align-items: center;
  /* margin-right: 1.5em; */
}

.client__menu {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 5px;
  justify-content: space-between;
  /* height: 100%; */
}

.menu__box {
  color: rgb(53, 53, 53);
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin: 0; */
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 0.7em;
}

.client__itemContainer:hover {
  background-color: rgb(243, 243, 243);
}

.client__itemContainer {
  margin: 1.25em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 3px;
  cursor: pointer;
}

.client__itemTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client__itemTitle {
  display: flex;
  align-items: center;
}

.client__avatar {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75em;
  /* background-color: rgb(240, 240, 240); */
  background-color: rgb(195, 219, 255);

  border-radius: 50%;
}

.client__initials {
  /* color: white; */
  color: rgb(27, 118, 255);
  font-size: 14px;
  font-weight: 600;
}
/* 
//  #CCCCFF / #7575ff
//  #ADD8E6 / #509ab3
//  #96DED1 / 37b19a
//  #9FE2BF / 3cac72
//  #DAA06D / 7a4414
//  #e9947a / af3a16
//  #C2B280 / 6d5716
//  #F2D2BD
//  #C2B280
//  #B2BEB5
//  #FFD580
//  #FFE5B4 */

.client__itemBottom {
  /* border-top: 1px solid lightgray; */
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client__dx {
  margin-right: 1.25em;
}

.dx__title {
  font-size: 12px;
  color: rgb(179, 179, 179);
  margin-bottom: 0.4em;
}

.dx__name {
  font-size: 14px;
}

.session__title {
  font-size: 12px;
  color: rgb(179, 179, 179);
  margin-bottom: 0.4em;
}

.session__num {
  font-size: 14px;
}

.client__info {
}
.client__name {
  font-size: 18px;
}

.client__options {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(240, 240, 240); */
  width: 20px;
  height: 20px;
}

ul:first-child {
  /* background-color: lightgray; */
}

.client__itemContainer:hover {
  background-color: rgb(241, 241, 241);
}

.client__neil_davids {
  /* background-color: rgb(241, 241, 241); */
  background-color: rgba(110, 166, 255, 0.103);
  margin-right: 0.75em;
  /* width: 70%; */
}

.client__searchContainer {
  /* width: 100%; */
  margin: 0 1.5em;
  display: flex;
  column-gap: 1em;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: 500px;
}

.client__search {
  /* margin: 0 1.5em; */
  /* width: 100%; */
  /* flex-grow: 1; */

  flex: 1;
  margin-bottom: 0;
  border: 1px solid lightgray;
  border-radius: 3px;
  height: 100%;
}

.noClient__container {
  border: 1px solid lightgray;
  background-color: #e6e6e6;
  padding: 3rem 3rem;
  text-align: center;
  margin: 5rem 1rem 0;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noClient__container > h2 {
  margin-bottom: 2rem;
}

.noClient__overview {
  margin: 3em 1em;
  text-align: center;
  /* margin-top: 5em; */
}

.clients__container {
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (min-width: 678px) {
  /* header {
    max-width: 500px;
  } */
  .noClient__container {
    margin: 5rem auto;
    max-width: 450px;
  }
}
